
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aradığınız sayfa bulunamadı!</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link href="~/Content/ErrorPage/Style.css" rel="stylesheet" />

</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Ooops!</h1>
            </div>
            <h2>Bu sayfaya erişim izniniz bulunmamaktadır!</h2>
            <p>Aradığınız sayfayı bulamadık :(</p>
            <a href="#">ANA SAYFAYA DÖN</a>
        </div>
    </div>
</body>
</html>
