
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" , initial-scale=1.0 />
    <title>Aradığınız sayfa bulunamadı!</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link href="~/Content/ErrorPage/Style.css?Version=3" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha512-6MXa8B6uaO18Hid6blRMetEIoPqHf7Ux1tnyIQdpt9qI5OACx7C+O3IVTr98vwGnlcg0LOLa02i9Y1HpVhlfiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <section class="page_404">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-10 col-sm-offset-1 text-center">
                        <div class="four_zero_four_bg">
                            <h1>404</h1>
                        </div>
                        <div class="content_box_404">
                            <h3>Hey, kaybolmuş gibi gözüküyorsun...</h3>
                            <p>Aradığın sayfaya ulaşılamıyor.</p>
                            <a href="#">Anasayfaya dön</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
