
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Betzmark</title>
    <!-- MATERIAL CDN -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
          rel="stylesheet">
    <!-- STYLESHEET -->
    <link href="~/Content/_AdminLayout/style.css?Version=4" rel="stylesheet" />

    <link rel="icon" href="~/Image/HomePage/favicon_package_v0.16/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <!------------------------- START OF ASIDE -------------------------------------------->
        <aside>
            <div class="top">
                <div class="logo">
                    <img src="~/Image/_AdminLayout/Logo V1.png">
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                @if (User.IsInRole("Admin"))
                {
                    <a href="~/Dashboard/AdminIndex">
                        <span class="material-icons-sharp">space_dashboard</span>
                        <h3>Gösterge Paneli</h3>
                    </a>
                    <a href="~/Affiliate/AdminActive">
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Ortaklar</h3>
                    </a>
                    <a href="~/Affiliate/AdminPassive">
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Pasif Ortaklar</h3>
                    </a>
                    <a href="~/Affiliate/AdminFraud">
                        <span class="material-icons-sharp">heart_broken</span>
                        <h3>Yasaklı Ortaklar</h3>
                    </a>
                    <a href="~/Affiliate/AdminGetPassedDay">
                        <span class="material-icons-sharp">schedule</span>
                        <h3>Süresi Dolan Ortaklar</h3>
                    </a>
                    <a href="~/Form/AdminIndex">
                        <span class="material-icons-sharp">description</span>
                        <h3>Form</h3>
                        <span class="message-count">*  </span>
                    </a>
                    <a href="~/Affiliate/AdvertisingBoard">
                        <span class="material-icons-sharp">date_range</span>
                        <h3>Reklam Takip</h3>
                    </a>
                    <a href="~/Affiliate/AdminAddAff">
                        <span class="material-icons-sharp">person_add</span>
                        <h3>Ortak Ekle</h3>
                    </a>
                }


                @if (User.IsInRole("Super Admin"))
                {
                    <a href="~/Dashboard/Index">
                        <span class="material-icons-sharp">space_dashboard</span>
                        <h3>Gösterge Paneli</h3>
                    </a>
                    <a href="~/Affiliate/Index">
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Ortaklar</h3>
                    </a>
                    <a href="~/Affiliate/GetPassive">
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Pasif Ortaklar</h3>
                    </a>
                    <a href="~/Affiliate/GetFraud">
                        <span class="material-icons-sharp">heart_broken</span>
                        <h3>Yasaklı Ortaklar</h3>
                    </a>
                    <a href="~/Affiliate/GetPassedDay">
                        <span class="material-icons-sharp">schedule</span>
                        <h3>Süresi Dolan Ortaklar</h3>
                    </a>
                    <a href="~/Form/Index">
                        <span class="material-icons-sharp">description</span>
                        <h3>Form</h3>
                        <span class="message-count">*  </span>
                    </a>
                    <a href="~/Affiliate/AdvertisingBoard">
                        <span class="material-icons-sharp">date_range</span>
                        <h3>Reklam Takip</h3>
                    </a>
                    <a href="~/Brand/Index">
                        <span class="material-icons-sharp">stars</span>
                        <h3>Markalar</h3>
                    </a>
                }
                <a href="~/EditProfile/Index">
                    <span class="material-icons-sharp">manage_accounts</span>
                    <h3>Ayarlar</h3>
                </a>
                @if (User.IsInRole("Super Admin"))
                {
                    <a href="~/Status/Index">
                        <span class="material-icons-sharp">pending</span>
                        <h3>Durum</h3>
                    </a>
                    <a href="~/Social/Index">
                        <span class="material-icons-sharp">catching_pokemon</span>
                        <h3>Platform</h3>
                    </a>
                    <a href="~/Affiliate/AddAffiliate">
                        <span class="material-icons-sharp">person_add</span>
                        <h3>Ortak Ekle</h3>
                    </a>
                }
                @if (User.IsInRole("Super Admin"))
                {
                    <a href="~/User/Index">
                        <span class="material-icons-sharp">supervised_user_circle</span>
                        <h3>Kullanıcılar</h3>
                    </a>
                    <a href="~/User/AddUser">
                        <span class="material-icons-sharp">engineering</span>
                        <h3>Kullanıcı Ekle</h3>
                    </a>
                    <a href="~/Authorization/Index">
                        <span class="material-icons-sharp">admin_panel_settings</span>
                        <h3>Adminler</h3>
                    </a>
                    <a href="~/Authorization/AddAdmin">
                        <span class="material-icons-sharp">badge</span>
                        <h3>Admin Ekle</h3>
                    </a>
                }
                <a href="/Login/LogOut">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Çıkış</h3>
                </a>
            </div>
        </aside>
        <!------------------------- END OF ASIDE -------------------------------------------->
        <main>
            <div class="main-content">
                @RenderBody()
            </div>
        </main>
        <!------------------------- END OF MAIN -------------------------------------------->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Merhaba, <b>@Session["AdminUserName"]</b></p>
                        <small class="text-muted">@Session["AdminRole"]</small>
                    </div>
                    <div class="profile-photo">
                        <img src="@Session["AdminImage"]">
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="~/Scripts/_AdminLayout/main.js"></script>
</body>
</html>