
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/AdminHomePage/Style.css" rel="stylesheet" />

<div class="content">
    <h1>Affiliate Otomasyonuna Hoş Geldiniz!</h1>
</div>

